* {
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    background-color: #1F2937;
    height: 200px;

}

.header-content {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
    padding-right: 30px;
    list-style-type: none;
    font-size: 20px;
}

.header-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}