* {
    font-family: 'Roboto', sans-serif;
    color: white;

}

.header {
    display: flex;
    background-color: #1F2937;
    height: 200px;

}

.header-content {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
    padding-right: 30px;
    list-style-type: none;
    font-size: 20px;
}

.header-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.about-me {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    flex-wrap: wrap;
}

.about-me-content {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
}

.about-me-image {
    margin-right: 10%;
}

.sign-up {
    width: 150px;
    height: 50px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 15%;
    margin-bottom: 50px;
}

.profile-pic {
    height: 350px;
    width: auto;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%

}


.fun-fact-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.fun-fact {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 25%;
}

.quote-container {
    padding: 100px;
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.quote h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

p {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}